@media screen and (max-width:1300px){
    header nav .gnb a {font-size:1.2rem; margin-right:15px;}
    header nav .sns span {font-size:1.2rem; margin-right:15px;}
    main #skill .container {width:100%; height:640px;}
    main #skill .container li {width:47%; height:125px;}
}/* 1300end */
@media screen and (max-width:1000px){
    header nav .gnb a {font-size:1.15rem; margin-right:10px;}
    header nav .sns span {font-size:1.15rem; margin-right:10px;}
}/* 1000end */